{% extends 'base.html' %}
{% block title %} Secret {% endblock %}
{% block content %}
<h1>User Info</h1>

<ul>
    <li>Username: {{ user.username}}</li>
    <li>Email: {{ user.email }}</li>
    <li>First Name: {{ user.first_name }}</li>
    <li>Last Name: {{ user.last_name }}</li>
</ul>

<h2>Feedback</h2>
<div>
    {% for feedback in user.feedback %}
    <h3>{{ feedback.title }}</h3>
    <p>{{ feedback.content}}</p>
    <a href="">edit</a> <a href="">delete</a>
    {% endfor %}
</div>

<div>
    <a href="/users/{{ user.username }}/feedback/add">Add Feedback</a>
</div>
<div>
    <a href="/logout">logout</a>
</div>
    <form action="/users/{{ user.username }}/delete" method="POST">
        <button>Delete User</button>
    </form>
</div>


{% endblock %}