{% extends 'base.html' %}
{% block title %} Secret {% endblock %}
{% block content %}
<h1>User Info</h1>

<ul>
    <li>Username: {{ user.username}}</li>
    <li>Email: {{ user.email }}</li>
    <li>First Name: {{ user.first_name }}</li>
    <li>Last Name: {{ user.last_name }}</li>
</ul>

<h2>Feedback</h2>
<ul>
{% for feedback in user.feedback %}
<li>{{ feedback }} <a href="">edit</a> <a href="">delete</a></li>
{% endfor %}
</ul>
<div>
    <a href="">Add Feedback</a>
</div>
<div>
    <a href="/logout">logout</a>
</div>
    <form action="/users/{{ user.username }}/delete" method="POST">
        <button>Delete User</button>
    </form>
</div>


{% endblock %}